{% extends "!layout.html" %}

{% block extrahead %}
    <meta name="msvalidate.01" content="CE550FEE6B9211C9BCA66F34286A5E45" />
    <meta name="google-site-verification" content="JPxNLmbPTbhK4H599KzpGQppJUB4QK5pHOUothFolME" />
    <meta name="description" content="Activate your Lowe’s credit card online quickly at lowes.syf.com. Follow our simple, step-by-step guide to get your card ready for shopping and enjoy rewards instantly." />
    <meta name="keywords" content="Activate Lowe's credit card online, lowes.syf.com activate, Lowe's card activation guide, Lowe's credit card rewards, Lowe's credit card benefits, how to activate Lowe's credit card, activate Lowe's card without SSN, Lowe's credit card step-by-step activation">

    <meta name="robots" content="index, follow" />
      {{ super() }}
{% endblock %}
